#header-site {
    background: #262727 none repeat scroll 0 0;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
}

header .account {
    list-style-type: none;
}

header .account li {
    float:left;
    list-style-type: none;
}