#header-site {
    background: #262727 none repeat scroll 0 0;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
}

#login-form {
    padding:10px;
    min-width: 290px;
}
header .account {
    list-style-type: none;
}

header .account li {
    float:left;
    list-style-type: none;
}
.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.error {
    color: darkred;
    margin-top: 5px;
    display: block;
}

.categories-list .title{
    font-weight: bold;
    font-size: 100%;
    display: block;
}


.categories-list .description{
    font-size: 100%;
    display: block;
}